{% extends "base.html" %}

{% block title %}Projects - Joe's Portfolio{% endblock %}

{% block content %}
<h1>Projects</h1>

<p>Here are my projects. Click any of the folders below to see the projects I've done with these respective tools:</p>

<div class="tool-buttons">
    <a href="/projects/python" class="tool-button">Python</a>
    <a href="/projects/sql" class="tool-button">SQL</a>
    <a href="/projects/excel" class="tool-button">Excel</a>
    <a href="/projects/tableau" class="tool-button">Tableau</a>
</div>

<img src="{{ url_for('static', filename='images/Analyst_Image.png') }}" alt="Projects Visual" class="projects-image">

{% endblock %}
