{% extends "base.html" %}

{% block title %}Projects - Joe's Portfolio{% endblock %}

{% block content %}
<h1>Projects</h1>

<p>Here are my projects. Click any of the folders below to see the projects I've done with these respective tools:</p>

<div class="tool-buttons">
    <a href="/projects/python" class="tool-button">Python</a>
    <a href="/projects/sql" class="tool-button">SQL</a>
    <a href="/projects/excel" class="tool-button">Excel</a>
    <a href="/projects/tableau" class="tool-button">Tableau</a>
</div>

<div class="project-highlight" style="display: flex; gap: 2rem; align-items: flex-start; flex-wrap: nowrap;">
    <div class="image-hover-container" style="max-width: 300px; border-radius: 8px;">
    <img src="{{ url_for('static', filename='images/Analyst_Image.png') }}" alt="Okay... SOMETIMES image generation with AI isn't half bad...">
    <div class="image-hover-text">Okay... SOMETIMES image generation with AI isn't half bad...</div>
</div>

    <div class="project-description">
        <p>
            One of the projects I’m most proud of is this very portfolio website itself!
        </p>
        <p>
             I designed and built it from scratch using Python and Flask,<br>
            styled it with HTML and CSS, and deployed it live using GitHub and Render.
        </p>
        <p>
            This isn't just my portfolio site, this is my pet project I built myself.<br>
            And it will only grow and improve from here!
        </p>
    </div>
</div>


{% endblock %}
